.video {
  width: 100%;
  outline: none;
  padding: 40px 16px 0;
  transform: scale(1.2) translate(-5%, 0%);
}

@media (min-width: 768px) {
  .video {
    padding: 40px;
    transform: scale(1.5) translate(-5%, 0%);
  }
}

@media (min-width: 768px) {
  .video {
    transform: scale(1.8) translate(-10%, 0%);
  }
}
